

.textContainer{
    padding-top: 7vh;
    width: 60vh;
}

.mainDesc{
    margin-left: 3%;
}

.mainTitle{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 3.2em;
    line-height: 50px;
    color: #99EFD0;
}

.mainText{
    font-family: 'Gilroy-SemiBold', sans-serif;
    font-size: 1.5em;
    line-height: 22px;
    color: #8476AA;
}

.mainBtn{
    padding-top: 1em;
    display: flex;
}

.learnBtn{
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    letter-spacing: 2px;
    border-style: none;
    border-radius: 4px;
    font-weight: 500;
    color: white;
    padding: 13px 31px;
    text-transform: uppercase;
    background-color: #F2994A;
}

.demoBtn{
    font-size: 1em;
    font-family: 'Rubik';
    margin-right: 1.5em;
    letter-spacing: 2px;
    border: 1px solid #F2994A;
    border-radius: 4px;
    font-weight: 500;
    color: #F2994A;
    padding: 8px 28px;
    text-transform: uppercase;
    background-color: transparent;
    margin-left: 2em;
}

.mainContent{
    display: flex;
    justify-content: space-between;
}

.runnerContainer{
    margin-right: 20vh;
    padding-top: 7vh;
}

.mainClients{
    height: 27.6vh;
    align-items: flex-end;
    width: 100%;
    display: flex;
    justify-content: space-around;

}