.starSvg{
    cursor: pointer;
    transition: 0.2s all;
}
.container{
    min-height: 84vh;
    background: linear-gradient(to left, #3b1d60, #040d3e);
    color: white;
    padding: 0;
}
.emptyText{
    font-size:  30px;
    font-weight: bold;
}

.loaderContainer{
    display: flex;
    justify-content: center;
}
.listContainer{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
